:root {
    --primary-color: #5F4BDB;
    --secondary-color: #363848;
    --third-color: #FFFFFF;
    --c-alabaster: #FBFBFB;
    --c-alto-300: #DADADA;
    --c-apple-500: #30C736;
    --c-black-900: #000000;
    --c-blue-bell-500: rgba(143, 134, 196, 0.2);
    --c-blue-chalk-100: #F6EBFF;
    --c-blue-chalk-200: #ECDEFF;
    --c-bright-gray-800: #3D3F4E;
    --c-cerulean-blue-700: #2B3DC7;
    --c-coral-300: #FFAD72;
    --c-coral-400: #FF754C;
    --c-cosmos-100: #FFD9D9;
    --c-dove-gray-500: #636363;
    --c-dusty-gray-500: #969696;
    --c-east-bay-900: #474073;
    --c-ebony-900: #11142D;
    --c-ebony-clay-900: #1F2131;
    --c-emerald-400: #3DCD65;
    --c-flesh-200: #FFCFA3;
    --c-fog-200: #E4CFFF;
    --c-fuchsia-blue-600: #8653C7;
    --c-gallery-100: #EEEEEE;
    --c-geyser-200: #DEE2E6;
    --c-gray-500: #909090;
    --c-gray-600: #818181;
    --c-hint-of-green-50: #E9FFEF;
    --c-invalid: rgba(255, 255, 255, 0.11);
    --c-jacarta-900: #372F67;
    --c-jungle-green-500: #2BC155;
    --c-lavender-500: #BF58D9;
    --c-lightning-yellow-400: #FFBE17;
    --c-magnolia-50: #F6EEFF;
    --c-martinique-900: #3C3662;
    --c-medium-purple-600: #8743DF;
    --c-melrose-300: #B2C3FF;
    --c-mercury-200: #E6E6E6;
    --c-mine-shaft-800: #3D3D3D;
    --c-mine-shaft-900: #2E2E2E;
    --c-persimmon-400: #FF5353;
    --c-perfume-200: #D7D0FB;
    --c-picton-blue-400: #3BB2F4;
    --c-port-gore-900: #2A2355;
    --c-purple-hear-700: #8E22E2;
    --c-royal-blue-800: #45379C;
    --c-scooter-400: #3CB5DB;
    --c-silver-300: #C4C4C4;
    --c-silver-400: #C2C2C2;
    --c-silver-chalice-400: #A9A9A9;
    --c-silver-chalice-500: #9F9F9F;
    --c-scooter-400: #3CB5DB;
    --c-sunset-orange-500: #FF4A55;
    --c-tan-hide-400: #FBA556;
    --c-titan-white-50: #F0EEFF;
    --c-titan-white-100: #E7E9FF;
    --c-wild-sand-50: #F5F5F5;
    --c-wild-watermelon--500: #FF477E;
    --c-west-side-500: #FF8412;
    --c-white-lilac-50: #F8F9FD;
    --c-white-lilac-100: #E7EBF7;

}