@import url(/css/theme/fonts.css);
@import url(/css/theme/color.css);
@import url(/css/theme/reset.css);
@import url(/css/customization/layout.css);
@import url(/css/customization/sizing.css);
@import url(/css/customization/spacing.css);
@import url(/css/customization/typrography.css);

html {
    font-size: 16px;
}

*, body {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    color: var(--primary-color);
}

body {
    display: block;
}

.header_nav_btn {
    display: none;
}

/* main */
.main {
    z-index: 99;
    position: relative;
    top: 0px;
    transition: top 0.5s ease-out;
}

/* banner */
.banner-swiper {
    width: 100%;
    overflow: hidden;
}
.banner-swiper-slider {
    display: flex;
    flex-direction: row;
}
.banner-swiper-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.pagination > div {
    cursor: pointer;
}

/* brand logo */
.brand-carousel-container {
    width: 100%;
    height: 51px;
    overflow: hidden;
}
.brand-carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
}
.brand-carousel-slide-item {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.steps1_bg {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-radius: 40px;
}

/* steps */
.steps2_background {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

.accordion-btn {
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 7px 22px 0px rgba(143, 134, 196, 0.07);
    border: none;
}
.accordion-number {
    width: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 24px;
    font-size: calc(1.34375rem + 1.125vw);
    font-weight: 600;
}
.accordion-header {
    font-size: calc(1.29375rem + 0.525vw);
    font-weight: 600;
    color: var(--secondary-color);
    padding-right: 60px;
    line-height: 1.2;
}
.accordion-arrow {
    top: 50%;
    right: 40px;
}
.collapetwo {
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.5s ease-out;
}
.card-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    border-radius: 30px;
    box-shadow: 0px 7px 22px 0px rgba(143, 134, 196, 0.07);
}
.card-icon:hover {
    box-shadow: 0px 19px 29px 0px rgba(62,53,120, 0.14);
}
.card-icon-title {
    font-size: calc(1.3125rem + 0.75vw);
    font-weight: 600;
    line-height: 1.2;
    color: var(--secondary-color);
}
.card-icon-desc {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
}

/* FEATURED PROFILE */
.featured_profile {
    display: flex;
    flex-direction: column;
}
.featured_profile_nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.featured_profile_card {
    height: 290px;
    width: 100%;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    height: 100%;
    min-width: 100%;
}
.featured_profile_card_item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
.profile_card_item {
    padding: 33px;
    border-radius: 18px;
    background-color: var(--third-color);
    box-shadow: 0px 7px 22px 0px rgba(143, 134, 196, 0.07);
}
.profile_card_item:hover {
    box-shadow: 0px 19px 29px 0px rgba(62,53,120, 0.14);
}
.profile_card_item_status {
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 5px solid var(--third-color);
}
.profile_card_item_name {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--secondary-color);
}
.profile_card_item_work {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-black-900);
}
.profile_card_btn_left {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: var(--primary-color);
}
.profile_card_btn_right {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: var(--primary-color);
} 

/* featured jobs */

.jobs_card_item {
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 7px 22px 0px rgba(143, 134, 196, 0.07);
}
.jobs_card_item:hover {
    box-shadow: 0px 19px 29px 0px rgba(62,53,120, 0.14);

}
.job_dropdown_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: var(--third-color);
    border: none;
    padding: 0px;
    margin: 0px;
}
.job_image {
    width: 115px;
    height: 115px;
    margin-bottom: 20px;
}
.job_title {
    margin-bottom: 14px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--secondary-color);
    text-align: center;
}
.job_author {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
}
.job_detail_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.job_detail_start_1 {
    width: 24px;
    height: 24px;
    background-image: url(/assets/icons/job_detail_item1.svg);
    background-size: cover;
}
.job_detail_start_2 {
    width: 24px;
    height: 24px;
    background-image: url(/assets/icons/job_detail_item2.svg);
    background-size: cover;
}
.job_detail_center {
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--c-mine-shaft-900);
}
.job_detail_end {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-silver-chalice-400);
}
.job_acction {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.job_acction_btn:hover > span > i::before {
    color: var(--c-persimmon-400);
}


/* customer */
.testimonial_name {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--secondary-color);
}
.testimonial_desc {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--c-mine-shaft-800);
}
.testimoial_ranting_number {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--secondary-color);
}


/* counter */
.count_item_number {
    font-size: calc(1.4375rem + 2.25vw);
    font-weight: 600;
    line-height: 1.5;
    color: var(--third-color);
    text-align: center;
}
.count_item_title {
    color: var(--third-color);
    text-align: center;
}


/* pricing */
.pricing_card {
    padding: 47px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 0px 7px 22px 0px rgba(143, 134, 196, 0.07);
}
.pricing_card:hover {
    box-shadow: 0px 19px 29px 0px rgba(62,53,120, 0.14);
}
.pricing_card_title {
    font-size: calc(1.2875rem + 0.45vw);
    font-weight: 700;
    line-height: 1.2;
    color: var(--secondary-color);
    text-align: center;
}
.pricing_card_price_inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: calc(1.4375rem + 2.25vw);
    font-weight: 600;
    line-height: 1.5;
    color: var(--secondary-color);
}
.pricing_card_detail_text {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
}
.blog_title {
    font-size: calc(1.3rem + 0.6vw);
    font-weight: 700;
    line-height: 1.5;
    color: var(--third-color);
}


/* latest news */
.latest-new-container {
    overflow: hidden;
}

.latest-new-slide {
    display: flex;
    flex-direction: row;
}

.latest-new-slide-item {
    width: 100%;
    flex-shrink: 0;
}


@media screen and (min-width: 576px) {
    .brand_logo {
        max-width: 540px;
        margin: 0 auto;
    }
    .brand-carousel-container {
        height: 47.97px;
    }
    .brand-carousel-slide-item {
        width: 33.3333333333%;
    }
    .brand-carousel-slide-item > img {
        width: 92%;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .title_header {
        width: 50%;
    }

    /* header */
    .header_nav_btn_icon {
        display: none;
    }
    .nav_menu_icon {
        display: block;
    }
    .header_nav_btn {
        display: flex;
    }

    .header_nav_secondary_btn {
        display: none;
    }

    /* brand logo */
    .brand_logo {
        max-width: 720px;
        margin: 0 auto;
    }
    .brand-carousel-container {
        height: 51.391px;
    }

    .featured_profile_card_item {
        width: 50% !important;
    }

    /* steps */
    .steps_icon1 {
        width: 64px;
        left: 112px;
    }
    .steps_icon2 {
        display: block;
        width: 400px;
        height: 279px;
        top: 125px;
        right: -145px;
    }
    .steps_icon3 {
        width: 80px;
        bottom: 85px;
        left: -22px;
    }
    .accordion-number {
        width: 80px; 
        min-width: 80px;
        height: 80px;
    }

    /* why choose us */
    .why_choose_us_card_item {
        width: 50%;
    }

    /* featured jobs */

    .jobs_card_layout {
        width: 50%;
    }

    /* customer */
    .testimonial_header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .testimonial_footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* counter */
    .counter {
        display: grid;
        grid-template-columns: auto auto;
    }

    /* pricing plan */
    .pricing_card_layout {
        width: 50%;
    }

    /* latest news */
    .latest-new-select-item3 {
        display: none;
    }
    .latest-new-slide-item {
        width: 50%;
    }

    /* footer */
    .footer_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
}

@media screen and (min-width: 992px) {
    /* banner */

    .banner {
        flex-direction: row;
    }

    .banner-bg {
        width: 50%;
        order: 2;
    }
    .banner-bg > div {
        position: relative;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .banner-bg-image {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: 100%;
    }
    .banner-content {
        margin: 60px 0px;
        width: 50%;
    }
    
    .banner-swiper-item > .heading-header-1 {
        font-size: calc(1.5rem + 1.5vw);
    }

    /* brand logo */
    .brand_logo {
        max-width: 960px;
        margin: 0 auto;
        padding: 100px 40px;
    }
    .brand-carousel-slide-item {
        width: 25%;
    }
    .brand-carousel-slide-item > img {
        width: 85%;
        height: auto;
    }

    /* steps */
    .steps1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    .steps1-background {
        order: 2;
    }

    /* Why choose us */
    .why_choose_us_card_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .why_choose_us_card_item {
        width: 100%;
    }

    /* featured profile */
    .featured_profile_card {
        margin-top: 25px;
    }

    /* featured jobs */
    .jobs_card_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .jobs_card_layout {
        width: 100%;
    }

    /* customer */
    .testimonial_slider {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    /* counter */
    .counter {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    /* latest news */
    .latest_news_nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
    .latest-new-slide-item.swiper_slide1 {
        width: 40%;
    }

    .latest-new-slide-item.swiper_slide2 {
        width: 60%;
    }
    .swiper_slide2_desc {
        display: block;
    }

    /* footer */
    .footer_input_btn {
        margin-left: 16.666666%;
    }
    .footer_content_secondary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .copyright {
        flex-direction:  row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }
}
@media screen and (min-width: 1200px) {

    .title_header {
        width: 34%;
    }

    /* header */
    .nav_menu_icon {
        display: none;
    }
    .header_nav_menu {
        display: flex;
    }
    .header_nav_form {
        display: block;
    }

    .header_nav_secondary {
        display: none;
    }

    /* banner */
    .banner-bg {
        width: 58.333333%;
    }
    .banner-content {
        margin: 120px 0px;
        width: 41.666667%;
    }

    /* brand logo */
    .brand_logo {
        max-width: 1140px;
        margin: 0 auto;
    }
    .brand-carousel-container {
        margin-left: 34px;
        margin-right: 34px;
        width: auto;
    }
    .brand-carousel-slide-item {
        width: 20%;
    }

    /* steps */
    .steps2_icon1 {
        width: 64px;
        left: 112px;
    }
    .steps2_icon2 {
        display: block;
        width: 400px;
        height: 279px;
        top: 125px;
        right: -178px;
    }
    .steps2_icon3 {
        width: 80px;
        bottom: 85px;
        left: -35px;
    }

    /* why choose us */
    .why_choose_us_card_list {
        width: 85%;
    }

    /* featured profile */
    .featured_profile_card_item {
        width: 33.3333333% !important;
    }

    /* customer */
    .testimonial_slider {
        margin: 0 auto;
        max-width: 85%;
    }

    /* pricing plan */
    .pricing_card_list {
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .pricing_card_layout {
        width: 100%;
    }

    /* latest news */
    .latest_news_nav {
        grid-template-columns: 2fr 3fr;
    }
    .latest-new-slide-item.swiper_slide1 {
        width: 35%;
    }

    .latest-new-slide-item.swiper_slide2 {
        width: 65%;
    }


    /* footer */
    .footer_content {
        display: grid;
        grid-template-columns: 4fr 5fr 3fr;
        gap: 0px;
    }
    .heading-section-2 {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1400px) {
    /* brand logo */
    .brand_logo {
        max-width: 1620px;
        margin: 0 auto;
    }
    .brand-carousel-container {
        margin-left: 80px;
        margin-right: 80px;
        width: auto;
    }
    .banner-swiper-item > .heading-header-1 {
        font-size: 3.75rem;
    }

    /* steps */
    .steps1 {
        grid-template-columns: 5fr 7fr;
    }
    .steps1-background {
        width: 85.7142867%;
        justify-self: end;
    }

    /* featured profile */
    .featured_profile_card_item {
        width: 25% !important;
    }

    /* featured jobs */
    .jobs_card_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .jobs_card_layout {
        padding-left: 27px;
        padding-right: 27px;
    }
    .jobs_card_layout_secondary {
        display: block;
    }

    /* pricing plan */
    .pricing_card_list {
        width: 75%;
    }
}