/* button icon */
.btn_icon {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: none;
}
/* size */
.btn_icon > span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_icon-sm {
    width: 50px;
    height: 50px;
}
.btn_icon-md {
    width: 52px;
    height: 52px;
}
.btn_icon-lg {
    width: 61px;
    height: 61px;
}
/* background color */
.btn_icon-invalid {
    background-color: var(--c-invalid);
}
.btn_icon-invalid:hover {
    background-color: var(--c-wild-watermelon-500);
}
.btn_icon-persimmon-400 {
    background-color: var(--c-persimmon-400);
    fill: var(--third-color);
}
.btn_icon-persimmon-400:hover {
    background-color: var(--c-mercury-200);
    fill: var(--c-persimmon-400);
}
.btn_icon-white {
    background-color: var(--third-color);
    fill: var(--secondary-color);
}
.btn_icon-white:hover {
    fill: var(--third-color);
    background-color: var(--primary-color);
}
.btn_icon-white:hover > span >i::before {
    color: var(--third-color);
}
.btn_icon-outline {
    border: 2px solid var(--c-geyser-200);
    background-color: var(--third-color);
}

/* button */

.btn {
    border-radius: 26px;
    margin: 0;
    padding: 0;
    border: none;
}
/* size */
.btn-sm {
    width: 148px;
    height: 52px;
}
.btn-147-54 {
    width: 147px;
    height: 54px;
}
.btn-129-50 {
    width: 129px;
    height: 50px;
}
.btn-md {
    width: 159px;
    height: 52px;
}
.btn-lg {
    width: 163px;
    height: 52px;
}
.btn-xl {
    width: 179px;
    height: 52px;
}
.btn-2xl {
    width: 183px;
    height: 52px;
}
.btn-3xl {
    width: 205px;
    height: 52px;
}
/* background color */

.btn-primary {
    background-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--c-royal-blue-800);
}
.btn-coral-400 {
    background-color: var(--c-coral-400);
}
.btn-coral-400:hover {
    background-color: var(--c-coral-300);
}
.btn-outline {
    border: 2px solid var(--c-geyser-200);
    padding: 12px 25px;
    background-color: var(--third-color);
}

.accordion-btn:hover {
    box-shadow: 0px 19px 29px 0px rgba(62,53,120, 0.14);
}


/* size */
.link-6-12 {
    padding: 6px 12px;
    border-radius: 20px;
}
.link-7-12 {
    padding: 7px 12px;
    border-radius: 20px;
}
.link-sm {
    padding: 12.5px 24px;
    border-radius: 26px;
}
.link-13-79 {
    padding: 13px 79px;
    border-radius: 50px;
}
.link-13_5-35 {
    padding: 13.5px 35px;
    border-radius: 50px;
}
.link-13_5-44 {
    padding: 13.5px 44px;
    border-radius: 50px;
}
.link_learn_more {
    padding: 13.5px 81px;
    border-radius: 50px;
}
.link-14-22 {
    padding: 14px 22px;
    border-radius: 26px;
}
.link-14-30_5 {
    padding: 14px 30.5px;
    border-radius: 26px;
}
.link-md {
    padding: 13px 35px;
    border-radius: 26px;
}
.link-14-37_5 {
    padding: 14px 37.5px;
    border-radius: 26px;
}
.link-14-45 {
    padding: 14px 45px;
    border-radius: 26px;
}
.link-15-45 {
    padding: 15px 45px;
    border-radius: 26px;
}
.link-lg {
    padding: 15px 46px;
    border-radius: 26px;
}
.link-xl {
    padding: 15px 61.5px;
    border-radius: 26px;
}
.link-2xl {
    padding: 15px 87.5px;
    border-radius: 26px;
}


/* background color */
.link-titan-white-50 {
    background-color: var(--c-titan-white-50);
}
.link-titan-white-50:hover {
    background-color: var(--c-titan-white-100);
}
.link-titan-white-50-primary {
    background-color: var(--c-titan-white-50);
    color: var(--primary-color);
}
.link-titan-white-50-primary:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
}
.link-titan-white-100 {
    background-color: var(--c-titan-white-100);
    color: var(--primary-color);
}
.link-titan-white-100:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
}
.link-primary {
    background-color: var(--primary-color);
}
.link-primary:hover {
    background-color: var(--c-royal-blue-800);
}
.link-wild-sand-50 {
    background-color: var(--c-wild-sand-50);
}
.link-outline {
    border: 2px solid var(--c-titan-white-100);
    color: var(--secondary-color);
}
.link-outline:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.link-outline_2 {
    border: 2px solid var(--c-titan-white-100);
    color: var(--secondary-color);
}

.link-w-full {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: var(--c-titan-white-50);
}
.link-w-full:hover {
    background-color: var(--primary-color);
}
.link-w-full > span:hover {
    color: var(--third-color);
}

.link_icon-sm {
    padding: 12px;
    border-radius: 50%;
}
.link_icon-third {
    background-color: var(--third-color);
}

.input {
    border: none;
    outline: none;
}