
/* !!sizing!! */
/* width */

.w-35rem {
    width: 35rem;
}
.w-auto {
    width: auto;
}
.w-1-1 {
    width: 100%;
}
.w-5 {
    width: 5px;
}
.w-8 {
    width: 8px;
}
.w-9 {
    width: 9px;
}
.w-12 {
    width: 12px;
}
.w-15 {
    width: 15px;
}
.w-16 {
    width: 16px;
}
.w-18 {
    width: 18px;
}
.w-20 {
    width: 20px;
}
.w-22 {
    width: 22px;
}
.w-24 {
    width: 24px;
}
.w-25 {
    width: 25px;
}
.w-28 {
    width: 28px;
}
.w-31 {
    width: 31px;
}
.w-38 {
    width: 38px;
}
.w-40 {
    width: 40px;
}
.w-42 {
    width: 42px;
}
.w-44 {
    width: 44px;
}
.w-45 {
    width: 45px;
}
.w-48 {
    width: 48px;
}
.w-50 {
    width: 50px;
}
.w-52 {
    width: 52px;
}
.w-51 {
    width: 51px;
}
.w-54 {
    width: 54px;
}
.w-57 {
    width: 57px;
}
.w-58 {
    width: 58px;
}
.w-60 {
    width: 60px;
}
.w-68 {
    width: 68px;
}
.w-77 {
    width: 77px;
}
.w-80 {
    width: 80px;
}
.w-81 {
    width: 81px;
}
.w-83 {
    width: 83px;
}
.w-86 {
    width: 86px;
}
.w-100 {
    width: 100px;
}
.w-115 {
    width: 115px;
}
.w-116 {
    width: 116px;
}
.w-120 {
    width: 120px;
}
.w-126 {
    width: 126px;
}
.w-130 {
    width: 130px;
}
.w-133 {
    width: 133px;
}
.w-141 {
    width: 142.13px;
}
.w-147 {
    width: 147px;
}
.w-150 {
    width: 150px;
}
.w-152 {
    width: 152px;
}
.w-172 {
    width: 172px;
}
.w-181 {
    width: 181px;
}
.w-190 {
    width: 190px;
}
.w-202 {
    width: 202px;
}
.w-204 {
    width: 204px;
}
.w-208 {
    width: 208px;
}
.w-210 {
    width: 210px;
}
.w-225 {
    width: 225px;
}
.w-235 {
    width: 235px;
}
.w-262 {
    width: 262px;
}
.w-272 {
    width: 272px;
}
.w-290 {
    width: 290px;
}
.w-300 {
    width: 300px;
}
.w-310 {
    width: 310px;
}
.w-361 {
    width: 361px;
}
.w-364 {
    width: 364px;
}
.w-366 {
    width: 366px;
}
.w-328 {
    width: 328px;
}
.w-330 {
    width: 330px;
}
.w-391 {
    width: 391px;
}
.w-412 {
    width: 412px;
}
.w-450 {
    width: 450px;
}
.w-465 {
    width: 465px;
}
.w-466 {
    width: 466px;
}
.w-484 {
    width: 484px;
}
.w-459 {
    width: 459px;
}
.w-491 {
    width: 491px;
}
.w-516 {
    width: 516px;
}
.w-524 {
    width: 524px;
}
.w-581 {
    width: 581px;
}
.w-600 {
    width: 600px;
}
.w-616 {
    width: 616px;
}
.w-652 {
    width: 652px;
}
.w-700 {
    width: 700px;
}
.w-758 {
    width: 758px;
}
.w-770 {
    width: 770px;
}
.w-782 {
    width: 782px;
}
.w-800 {
    width: 800px;
}
.w-949 {
    width: 949px;
}
.w-984 {
    width: 984px;
}
.w-1173 {
    width: 1173px;
}
.w-1309 {
    width: 1309px;
}
.w-1620 {
    width: 1620px;
}
.w-75_percent {
    width: 75%;
}
.max-w-1-1 {
    max-width: 100%;
}
.max-w-235 {
    max-width: 235px;
}
.max-w-485 {
    max-width: 485px;
}
.max-w-524 {
    max-width: 524px;
}
.max-w-1155 {
    max-width: 1155px;
}
.max-w-1309 {
    max-width: 1309px;
}
.max-w-1620 {
    max-width: 1620px;
}
/* height */
.h-auto {
    height: auto;
}
.h-1-1 {
    height: 100%;
}
.h-0 {
    height: 0px;
}
.h-1 {
    height: 1px;
}
.h-2 {
    height: 2px;
}
.h-5 {
    height: 5px;
}
.h-6 {
    height: 6px;
}
.h-8 {
    height: 8px;
}
.h-9 {
    height: 9px;
}
.h-12 {
    height: 12px;
}
.h-15 {
    height: 15px;
}
.h-16 {
    height: 16px;
}
.h-18 {
    height: 18px;
}
.h-20 {
    height: 20px;
}
.h-22 {
    height: 22px;
}
.h-23 {
    height: 23px;
}
.h-24 {
    height: 24px;
}
.h-26 {
    height: 26px;
}
.h-28 {
    height: 28px;
}
.h-30 {
    height: 30px;
}
.h-31 {
    height: 31px;
}
.h-34 {
    height: 34px;
}
.h-35 {
    height: 35px;
}
.h-38 {
    height: 38px;
}
.h-40 {
    height: 40px;
}
.h-42 {
    height: 42px;
}
.h-43 {
    height: 43px;
}
.h-44 {
    height: 44px;
}
.h-45 {
    height: 45px;
}
.h-48 {
    height: 48px;
}
.h-49 {
    height: 49px;
}
.h-50 {
    height: 50px;
}
.h-51 {
    height: 51px;
}
.h-52 {
    height: 52px;
}
.h-54 {
    height: 54px;
}
.h-57 {
    height: 57px;
}
.h-58 {
    height: 58px;
}
.h-60 {
    height: 60px;
}
.h-61 {
    height: 61px;
}
.h-66 {
    height: 66px;
}
.h-67 {
    height: 67px;
}
.h-68 {
    height: 68px;
}
.h-77 {
    height: 77px;
}
.h-80 {
    height: 80px;
}
.h-81 {
    height: 81px;
}
.h-83 {
    height: 83px;
}
.h-92 {
    height: 92px;
}
.h-94 {
    height: 94px;
}
.h-99 {
    height: 99px;
}
.h-100 {
    height: 100px;
}
.h-102 {
    height: 102px;
}
.h-110 {
    height: 110px;
}
.h-115 {
    height: 115px;
}
.h-116 {
    height: 116px;
}
.h-117 {
    height: 117px;
}
.h-120 {
    height: 120px;
}
.h-126 {
    height: 126px;
}
.h-154 {
    height: 154px;
}
.h-156 {
    height: 156px;
}
.h-172 {
    height: 172px;
}
.h-197 {
    height: 197px;
}
.h-224 {
    height: 224px;
}
.h-250 {
    height: 250px;
}
.h-274 {
    height: 274px;
}
.h-300 {
    height: 300px;
}
.h-304 {
    height: 304px;
}
.h-328 {
    height: 328px;
}
.h-330 {
    height: 330px;
}
.h-370 {
    height: 370px;
}
.h-394 {
    height: 394px;
}
.h-450 {
    height: 450px;
}
.h-486 {
    height: 486px;
}
.h-501 {
    height: 501px;
}
.h-561 {
    height: 561px;
}
.h-732 {
    height: 732px;
}
.h-758 {
    height: 758px;
}
.h-768 {
    height: 768px;
}
.h-839 {
    height: 839px;
}
.h-878 {
    height: 878px;
}
.h-1352 {
    height: 1352px;
}
.h-1501 {
    height: 1501px;
}
